@import url('https://fonts.googleapis.com/css?family=Kreon');

* {
	margin:0;
	padding:0;
}
:root{
	--gray: #474242;
	--blue: #162331;
	--burgundy: #2D0203;
	--gold :#ffc500;
	--white: #F8F8FF;
}
html{
	font-size:16px;
	font-family: 'Kreon', sans-serif;
	
}
button[type="submit"]{
	background-color: var(--gray);
	color: var(--white);
}
button[type="submit"]:hover{
	color: var(--gold);
}
h1{
	color: yellow;
	font-size: 700%;
	width: fit-content;
	height: 100px;
	margin: auto;
	padding: 20px;
	
	
}
#index, #lobby, #deck, #game{
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;	
	background-size: cover;
	background-repeat: no-repeat;
}
#game{
	background-image: url("../img/bruce-brenneise-tower-lev1-finall.jpg");
}
#lobby{
	background-image: url("../img/73e5870ccc55e0f1e350327506ac92d7.jpg");
	display: grid;
	grid-template-areas: 'bouttons chat';
}
#index{
	background-image: url("../img/thumb-1920-901142.jpg");
}
#deck{
	overflow: hidden;
	background-image: url("../img/deck.jpg");
}
.main{
	width: 95vw;
	height: 80%;
	padding: 20px;
	margin: auto;
}
#deckAPI{
	width: 100%;
	height: 100%;
	background-color: var(--burgundy);
}
.ConnexionBox{
	width:400px;
	margin: auto;
	border-radius: 5px;
	border:1px solid #aaa;
	padding:10px;
	background-color:#fff;
	box-shadow: 0 0 15px #000;
	justify-content: center;
}
.formLabel {
	float:left;
	width:180px;
	text-align:right;
	padding-right:5px;
}

.formInput {
	float:left;
	width:180px;
}

.formSeparator {
	clear:both;
	height:10px;
}

button {
	box-shadow:rgba(0,0,0,1) 0 0px 2px 0;
	color:#333;
	background-color:#d1d1d1;
	border-radius:3px;
	border:none;
	font-size:16px;
	font-weight:700;
	height:30px;
	width: 150px;
	padding:4px 16px;
	cursor: pointer;
}

button:hover {
	background-color:#bbb;
}
#buttonsLobby{
	grid-area: bouttons;
	width: 30vw;
	height: 80vh;
	

}
#chat{
	grid-area: chat;
}