 @import url('https://fonts.googleapis.com/css?family=Bebas Neue');

 * {
 	margin: 0;
 	padding: 0;

 }

 :root {
 	--gray: rgb(67, 72, 76);
 	--grayOpp: 67, 72, 76;
 	--blue: rgb(64, 82, 117);
 	--blueBoard: 64, 82, 117;
 	--lightBlue: rgb(33, 143, 254);
 	--lightBlueStats: 33, 143, 254;
 	--black: rgb(0, 0, 0);
 	--orange: rgb(250, 156, 29);
 	--white: rgb(255, 255, 255);
 	--whiteGraph: 255, 255, 255;
 	--pink: 254, 171, 230;
 }

 html {
 	font-size: 16px;
 	font-family: 'Bebas Neue', sans-serif;
 	overflow: hidden;
 }


 button {
 	background-color: var(--orange);
 	color: var(--white);
 }


 button:hover {
 	background-color: var(--lightBlue);
 }

 h1 {
 	color: var(--orange);
 	font-size: 700%;
 	width: fit-content;
 	height: 100px;
 	margin: auto;
 	padding: 20px;
 }

 #chatGame {
 	display: none;
 	position: absolute;
	z-index: 1;
	left: 160px;
	bottom: 100px;
 }



 #message {
 	width: 100px;
 	height: 50px;
 	color: var(--white);
 	background-color: var(--blue);
 }

 #index,
 #lobby,
 #deck,
 #game {
 	height: 100vh;
 	width: 100vw;
 	align-items: center;
 	justify-content: center;
 	background-size: cover;
 	background-repeat: no-repeat;
 }

 #game {
 	background-image: url("../img/hanamura.jpg");
 	display: grid;
 	grid-template-columns: 1fr;
 	grid-template-rows: 0.5fr 3fr 2fr;
 	/* grid-template-rows: 1fr 0.2fr 3fr 0.2fr 2fr; */
 	padding: 10px;
 }

 /* #messageGame{
	position: absolute;
	width: 100vw;
	height: 100vh;
	
} */

 #lobby {
 	background-image: url("../img/Lobby.jpg");
 	display: grid;
 	grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1.5fr 1fr;
 	grid-template-areas:
 		'bouttons chat'
 		'heros heros'
 	;
 }

 #index {
 	background-image: url("../img/dalticu-eb19f94d-2103-4b0e-bcfd-4383f2eba94f.jpg");
 }

 #deck {
 	overflow: hidden;
 	background-image: url("../img/wallpaperbetter.com_1366x768.jpg");
 }

 #graphiques {
 	width: 90%;
 	height: 80%;
 	padding: 20px;
 	margin: auto;
 	background-color: rgba(var(--pink), 0.4);
 }

 #graphiques #myChart {
 	height: 100%;
 	width: 100%;
 	max-height: 750px;
 	max-width: 1400px;
 	justify-self: center;
 	align-self: center;

 }

 #deckAPI {
 	width: 100%;
 	height: 100%;
 	display: none;
 	background-color: rgba(var(--grayOpp), 0.8);
 }

 .ConnexionBox {
 	width: 400px;
 	margin: auto;
 	border-radius: 5px;
 	border: 1px solid #aaa;
 	padding: 10px;
 	background-color: #fff;
 	box-shadow: 0 0 15px #000;
 	justify-content: center;
 }

 .formLabel {
 	float: left;
 	width: 180px;
 	text-align: right;
 	padding-right: 5px;
 }

 .formInput {
 	float: left;
 	width: 180px;
 }

 .formSeparator {
 	clear: both;
 	height: 10px;
 }

 button {
 	box-shadow: rgba(0, 0, 0, 1) 0 0px 2px 0;
 	color: #333;
 	background-color: var(--orange);
 	color: var(--white);
 	border-radius: 3px;
 	border: none;
 	font-size: 16px;
 	font-weight: 700;
 	height: 40px;
 	width: 150px;
 	padding: 4px 16px;
 	cursor: pointer;
 }

 button:hover {
 	background-color: var(--lightBlue);
 }

 #actionBar {
 	display: flex;
 	flex-direction: row;
 	width: 80%;
 	height: 10%;
 	justify-content: center;
 	align-items: center;
 	padding: 10px;
 	margin: auto;
 }


 #buttonsLobby {
 	grid-area: bouttons;
 	display: flex;
 	flex-direction: column;
 	width: 100%;
 	height: 100%;
 	align-items: center;
 	justify-content: center;

 }

 #buttonsLobby button,
 #buttonsLobby input {
 	width: 80%;
 	max-width: 250px;
 	max-height: 50px;
 	height: 7%;
 }

 #chat {
 	grid-area: chat;
 	width: 100%;
 	height: 500px;
 }

 #chat iframe {
 	min-height: 400px;
 }

 /* card */
 .card,
 .cardEnemy {
 	background-color: var(--blue);
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 	transition: 0.5s;
 	border-radius: 5px;
 	/* 5px rounded corners */
 	display: flex;
 	flex-direction: column;
 	color: var(--black);
 }

 .cardEnemy {
 	height: 100px;
 	width: 70px;
 	background-image: url("../img/cardback.png");
 	background-size: cover;
 }

 .container {
 	height: 100%;
 	width: 100%;
 }

 .card {
 	height: 220px;
 	width: 140px;
 	position: relative;
	/* margin: 0px 5px; */
 }

 /* ajoute d'effet pour quon voyent les carte que l'on peut jouer ou pas */
 .playableCard {
 	position: relative;
 	bottom: 20px;
 }

 .hp {
 	z-index: 1;
 	background-image: url("../img/red.png");
 	background-size: cover;
 	color: var(--white);
 	width: 30px;
 	height: 30px;
 	position: absolute;
 	right: 5px;
 	bottom: 0px;
 	text-align: center;
 	text-justify: center;
 }

 .atk {
 	z-index: 1;
 	background-image: url("../img/yellow.png");
 	background-size: cover;
 	color: var(--white);
 	position: absolute;
 	left: 5px;
 	bottom: 0px;
 	text-align: center;
 	text-justify: center;
 	width: 30px;
 	height: 30px;
 }

 .cost {
 	background-image: url("../img/blue.png");
 	background-size: cover;
 	color: var(--white);
 	position: absolute;
 	left: 5px;
 	top: 0px;
 	text-align: center;
 	text-justify: center;
 	width: 30px;
 	height: 30px;
 }

 /* Add rounded corners to the top left and the top right corner of the image */
 .img {
 	border-radius: 5px 5px 0 0;
 	height: 65%;
 	width: fit-content;
 	max-width: 100px;
 	max-height: 100px;
 }

 .imgCard {
 	border-radius: 5px 5px 0 0;
 	height: 55%;
 	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
 }

 /* On mouse-over, add a deeper shadow */
 .card:hover {
 	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 	opacity: 0.5;
 }

 /* Add some padding inside the card container */
 .container {
 	padding: 0px 5px;
 	background-color: var(--lightBlue);
 	height: 45%;
 	width: 100%;
 	position: relative;
 	align-items: center;
 	justify-content: center;
 }

 #card-container {
 	width: 70%;
 	height: 100%;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	justify-self: end;
 	padding: 10px;
 	padding-bottom: 20px;
 	border-radius: 10px;
 }
 #opponentCards{
	
 	width: 70%;
 	height: 100%;
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	justify-self: end;
 	padding: 10px;
 	padding-bottom: 20px;
 	border-radius: 10px;
	padding-right: 20%;
}
 #action-buttons, #card-container, #info, #opponentInfo, #graphiques, .hp {
 	align-items: center;
 	justify-content: center;
 }

 #board {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	height: 100%;
 	width: 100%;
 	position: relative;
 }

 #boardCardContainer, #boardOpponentContainer {
 	height: 50%;
 	height: auto;
 	width: 80%;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-evenly;
 }

 #action-buttons {
 	right: 0px;
 	width: 20%;
 	height: 100%;
 	border-radius: 10px;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-evenly;
 }



 #opponent {
	display: flex;
 	flex-direction: row;
 	justify-content: space-evenly;
 	top: 0px;
 	height: 100%;
 	width: 100%;
 	padding: 10px;
 	border-radius: 10px;
 	position: relative;
	background-color: rgba(var(--blueBoard),0.5);
 }

 #info, #opponentInfo {
 	display: flex;
 	flex-direction: column;
 	width: 20%;
 	height: 100%;
 }

 #player {
 	display: flex;
 	flex-direction: row;
 	height: 100%;
 	width: 100%;
	background-color: rgba(var(--blueBoard),0.5);
 	justify-content: center;
 	align-items: center;
 }

 /* #healthBar {
 	height: auto;
 	width: auto;
 	color: var(--orange);
 	background-color: var(--blue);

 } */

 #gameInfo {
 	position: absolute;
 	left: 10px;
 	min-height: 100px;
 	min-width: 100px;
 	align-items: center;
 	justify-content: center;
 	width: 20%;
 }

 #opponentIcon,
 #playerIcon {
 	/* position: absolute;
 	right: 0px; */
 	width: 10%;
 	justify-content: center;
 	align-items: center;
 }

 #turn {
 	color: var(--white);
 	width: 50px;
 	background-color: var(--orange);
 }

 /* #mana {
 	color: var(--white);
 	background-color: var(--lightBlue);
 	width: 50px;
 }

 #timer {
 	color: var(--orange);
 	height: 50px;
 	width: 50px;
 }

 #remaining {
 	color: var(--orange);
 	background-color: var(--black);
 	width: 50px;
 } */

 .isSelected {
 	background-color: var(--orange);
 }

 .hero.Selected {
 	background-color: var(--lightBlue);
 }

 /* canvas{
width: 500px;
height: 500px;
display: block;
} */
 #timerValue {
 	z-index: 1;
 	width: 70px;
 	height: 70px;
	position: absolute;
	left: 30px;
	top: 30px;
 }

 #timerAnim {
 	width: 70px;
 	height: 70px;
 	position: relative;
 }

 #timerAnim .circularCW {
	animation: rotate 1s linear infinite;
}

#timerAnim  .circularCCW {
	animation: rotate-reverse 5s linear infinite;
}

 #index .overwatch-loader {
 	width: 300px;
 	position: absolute;
 	margin: 0px auto;
 	right: 0px;
 	bottom: 0;
 }

 .overwatch-logo {
 	filter:
 		drop-shadow(0 0 120px rgba(255, 255, 255, 0.15)) drop-shadow(0 0 16px rgba(255, 255, 255, 0.05));
 	opacity: 0.8;
 }

 .circularCW,
 .circularCCW {
 	height: 100%;
 	transform-origin: center center;
 	width: 100%;
 	position: absolute;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	margin: auto;
 }

 .circularCW {
 	animation: rotate 4s linear infinite;
 }

 .circularCCW {
 	animation: rotate-reverse 8s linear infinite;
 }

 .path,
 .path2,
 .path3,
 .path4,
 .path5,
 .path6,
 .path7,
 .path8 {
 	stroke-linecap: square;
 	stroke-width: 33;
 	opacity: 0.8;
 }

 .path {
 	stroke-dasharray: 1400, 2600;
 	stroke-dashoffset: 0;
 	animation: dash 3.7s ease-in-out infinite;
 	opacity: 0.3;
 }

 .path2 {
 	stroke-dasharray: 40, 2600;
 	stroke-dashoffset: -500px;
 }

 .path3 {
 	stroke-dasharray: 200, 2600;
 	stroke-dashoffset: -700px;
 }

 .path4 {
 	stroke-dasharray: 40, 2600;
 	stroke-dashoffset: -2000px;
 	animation: dash2 2.5s ease-in-out infinite;
 }

 .path5 {
 	stroke-dasharray: 200, 2600;
 	stroke-dashoffset: 0;
 }

 .path6 {
 	stroke-dasharray: 300, 2600;
 	stroke-dashoffset: -1000px;
 }

 .path7 {
 	stroke-dasharray: 40, 2600;
 	stroke-dashoffset: -1200px;
 }

 .path8 {
 	stroke-dasharray: 100, 2600;
 	stroke-dashoffset: -300px;
 }

 @keyframes rotate {
 	100% {
 		transform: rotate(360deg);
 	}
 }

 @keyframes rotate-reverse {
 	100% {
 		transform: rotate(-360deg);
 	}
 }

 @keyframes dash {
 	0% {
 		stroke-dasharray: 2000, 2600;
 		stroke-dashoffset: 0;
 	}

 	50% {
 		stroke-dasharray: 2400, 2600;
 		stroke-dashoffset: -500px;
 	}

 	100% {
 		stroke-dasharray: 2000, 2600;
 		stroke-dashoffset: 0;
 	}
 }

 @keyframes dash2 {
 	0% {
 		stroke-dasharray: 100, 2600;
 		stroke-dashoffset: -2000px;
 	}

 	50% {
 		stroke-dasharray: 500, 2600;
 		stroke-dashoffset: -1000px;
 	}

 	100% {
 		stroke-dasharray: 100, 2600;
 		stroke-dashoffset: -1960px;
 	}
 }






 .heroSelectionGallery {
 	grid-area: heros;
 	display: flex;
 	flex-direction: column;
 	height: 300px;
 	width: 80%;
 	align-items: center;
 	justify-content: center;
 	background-color: rgba(var(--grayOpp), 0.6);
 	margin: 0px 10%;
 }


 #heroes {
 	/* grid-area: heroes; */
 	display: flex;
 	flex-direction: row;
 	width: 800%;

 	justify-content: center;
 	/* grid-template-columns: 1fr 1fr 1fr; 
 	grid-template-rows:  1fr ;
 	grid-template-areas: "tanks" "dps" "support"; */
 	/* -webkit-box-pack: center;
 	-ms-flex-pack: center; */
 	/* justify-content: center; */
 	/* grid-template-columns: 241px 213px 206px 177px;
 	grid-column-gap: 32px; */
 }

 .tanks,
 .dps,
 .support {
 	display: flex;
 	flex-direction: column;
 	margin: 0px 10px;
 }

 .row1,
 .row2 {
 	display: flex;
 	flex-direction: row;
 	margin: 2px 0px;
 	justify-content: center;
 }

 /* .category {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	align-items: center;
 } */

 .hero {
 	width: 70px;
 	height: 80px;
 	background-color: var(--white);
 	margin-right: 3.2px;
 	background-size: cover;
 	-webkit-transform: skewX(-5deg);
 	transform: skewX(-5deg);
 	-webkit-transform-origin: bottom left;
 	transform-origin: bottom left;
 	-webkit-box-shadow: inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff;
 	box-shadow: inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff;
 	border-radius: 3px;
 	-webkit-transition-duration: 25ms;
 	transition-duration: 25ms;
 }

 .hero:hover {
 	-webkit-transform: scale(1.15) skewX(-10deg) translate(-2px, 2px);
 	transform: scale(1.15) skewX(-10deg) translate(-2px, 2px);
 	-webkit-box-shadow: 0px 0px 0px 3px #fff;
 	box-shadow: 0px 0px 0px 3px #fff;
 	z-index: 2;
 	cursor: pointer;
 }

 .select {
 	/* grid-area: select;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	-ms-flex-pack: center; */
 	justify-content: center;
 }

 /* button {
 	height: 32px;
 	width: 110px;
 	border: none;
 	margin-top: 15px;
 	font-size: 22px;
 	letter-spacing: 2px;
 	color: #fff;
 	background-color: #b47900;
 	outline-style: none;
 }

 button:hover {
 	background-color: #df9600;
 	cursor: pointer;
 } */




 /*Assets*/

 #genji {
 	background-image: url("../img/Cartes/Genji.png");
 }

 #cassidy {
 	background-image: url("../img/Cartes/Cassidy.png");
 }

 #pharah {
 	background-image: url("../img/Cartes/Pharah.png");
 }

 #reaper {
 	background-image: url("../img/Cartes/Reaper.png");
 }

 #soldier-76 {
 	background-image: url("../img/Cartes/Soldier76.png");
 }

 #sombra {
 	background-image: url("../img/Cartes/Sombra.png");
 }

 #tracer {
 	background-image: url("../img/Cartes/Tracer.png")
 }

 #bastion {
 	background-image: url("../img/Cartes/Bastion.png")
 }

 #hanzo {
 	background-image: url("../img/Cartes/Hanzo.png")
 }

 #junkrat {
 	background-image: url("../img/Cartes/Junkrat.png")
 }

 #mei {
 	background-image: url("../img/Cartes/Mei.png");
 }

 #torbjorn {
 	background-image: url("../img/Cartes/Torbjorn.png")
 }

 #widowmaker {
 	background-image: url("../img/Cartes/Widowmaker.png");
 }

 #dva {
 	background-image: url("../img/Cartes/Dva.png");
 }

 #orisa {
 	background-image: url("../img/Cartes/Orsia.png");
 }

 #reinhardt {
 	background-image: url("../img/Cartes/Reinhardt.png");
 }

 #roadhog {
 	background-image: url("../img/Cartes/Roadhog.png");
 }

 #winston {
 	background-image: url("../img/Cartes/Winston.png");
 }

 #zarya {
 	background-image: url("../img/Cartes/Zarya.png");
 }

 #ana {
 	background-image: url("../img/Cartes/Ana.png");
 }

 #lucio {
 	background-image: url("../img/Cartes/Lucio.png");
 }

 #mercy {
 	background-image: url("../img/Cartes/Mercy.png");
 }

 #symmetra {
 	background-image: url("../img/Cartes/Symetra.png");
 }

 #zenyatta {
 	background-image: url("../img/Cartes/Zenyatta.png");
 }

 #doomfist {
 	background-image: url("../img/Cartes/Doomfist.png");
 }

 #junkerqueen {
 	background-image: url("../img/Cartes/JunkerQueen.png");
 }

 #sigma {
 	background-image: url("../img/Cartes/Sigma.png");
 }

 #hammond {
 	background-image: url("../img/Cartes/Hammond.png");
 }

 #ashe {
 	background-image: url("../img/Cartes/Ashe.png");
 }

 #echo {
 	background-image: url("../img/Cartes/echo.png");
 }

 #sojourn {
 	background-image: url("../img/Cartes/Sojourn.png");
 }

 #baptiste {
 	background-image: url("../img/Cartes/Baptiste.png");
 }

 #brigitte {
 	background-image: url("../img/Cartes/Brigitte.png");
 }

 #kiriko {
 	background-image: url("../img/Cartes/Kiriko.png");
 }

 #moira {
 	background-image: url("../img/Cartes/Moira.png");
 }

 h2 {
 	color: var(--orange);
 	font-size: 300%;

 }